<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MicroHelio"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Component 1: Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Component 1: Register Prosumer -->
        <activity
            android:name=".RegisterProsumerActivity"
            android:exported="false" />

        <!-- Component 3: Prosumer Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
            
        <activity
            android:name=".ProsumerProfileActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".GridOperatorDashboardActivity"
            android:exported="false" />

        <!-- Component 3: Create Reservation Screen -->
        <activity
            android:name=".CreateReservationActivity"
            android:exported="false" />

        <!-- Component 3: Update & Cancel Reservation Screen -->
        <activity
            android:name=".UpdateReservationActivity"
            android:exported="false" />

        <!-- Component 3: Booking History & Search Screen -->
        <activity
            android:name=".BookingHistoryActivity"
            android:exported="false" />

        <!-- Component 4: Prosumer QR Code Generator Screen -->
        <activity
            android:name=".QrCodeGeneratorActivity"
            android:exported="false" />

        <!-- Component 2: Microgrid Node List Screen -->
        <activity
            android:name=".NodeListActivity"
            android:exported="false" />

        <!-- Component 2: Microgrid Node Details Screen -->
        <activity
            android:name=".NodeDetailsActivity"
            android:exported="false" />

    </application>

</manifest>