# Database Configuration
MicroHelioDatabase__ConnectionString=mongodb+srv://<username>:<password>@cluster0.mongodb.net/MicroHelio?retryWrites=true&w=majority
MICROHELIO_MONGODB_CONNECTIONSTRING=mongodb+srv://<username>:<password>@cluster0.mongodb.net/MicroHelio?retryWrites=true&w=majority

# JWT Authentication
Jwt__Key=YourSuperSecretKeyThatIsAtLeast32BytesLongForHMACSHA256
JWT_SECRET=YourSuperSecretKeyThatIsAtLeast32BytesLongForHMACSHA256
Jwt__Issuer=MicroHelioIssuer
Jwt__Audience=MicroHelioAudience
Jwt__ExpirationMinutes=60
